{{page-title "ProjectNava"}}
<ul class="nav justify-content-end">
    <li class="nav-item">
        <LinkTo @route="index" >Home</LinkTo>
    </li>
   <li class="nav-item">
        <SearchBar @dog={{this.model}}/>
   </li>
</ul>

{{outlet}}